// @use "./reset";
// @use "./phone-input";

// @tailwind base;
// @tailwind components;
// @tailwind utilities;

// body {
//   color: var(--foreground);
//   background: var(--background);
//   font-family: Inter, sans-serif;
//   @extend %unscroll;
//   background: black;
// }

// .container {
//   width: 100%;
//   max-width: 1350px;
//   margin: 0 auto;
//   padding: 0 10px;
// }

@use "./reset";
@use "./phone-input";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Global styles ===== */
body {
  color: var(--foreground);
  background: black;
  font-family: var(--font-montserrat), Inter, sans-serif;
  @extend %unscroll;
}

html,
body {
  scroll-behavior: smooth; /* для обычного скролла */
}

/* ===== Container ===== */
.container {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ===== Optional font helpers ===== */
// .font-montserrat {
//   font-family: var(--font-montserrat), sans-serif;
// }

// .font-geist {
//   font-family: var(--font-geist-sans), sans-serif;
// }

// .font-mono {
//   font-family: var(--font-geist-mono), monospace;
// }

.font-roboto-flex {
  font-family: var(--font-roboto-flex), sans-serif;
}

.font-geist {
  font-family: var(--font-geist-sans), sans-serif;
}

.font-mono {
  font-family: var(--font-geist-mono), monospace;
}

/* Стили для точек пагинации */
.swiper-pagination-bullet {
  background-color: #adadad !important; /* серый цвет */
  opacity: 0.6;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff !important; /* активная — твой акцентный цвет */
  opacity: 1;
  width: 16px; /* опционально: сделать активную точку шире */
}

.notify.success {
  background: #2ecc71 !important;
  color: white !important;
  width: 260px;
}
